* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  font-size: 1.25rem;
  padding: 64px 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0px;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 24px;
}

.card,
.intro-chunk {
  background-color: hsl(0deg, 0%, 100%);
}

.intro-chunk {
  max-width: 415px;
  padding-top: 96px;
  padding-bottom: 64px;
}

.card {
  /* margin: 32px; */
  padding: 24px;
  margin: 0px -24px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  font-size: 1.5rem;
  line-height: 1.2rem;
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: -16px 0px 1rem -32px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
